@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
	background: #f1f1f1;
}

.tabela,th,td{
	background: rgb(240 170 220);
    border: 1px solid rgb(139 30 112);
	border-collapse: collapse;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	box-shadow: 0 0 25px -10px #a8a8a8;
	min-height: 200px;
	margin-top: 25px;
	border-radius: 5px;
}

.titulo {
    color: white;
    font-weight: 600;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 25px;
}

.altmaster {
	font-size: 35px;
	text-align: center;
	font-weight: 600;
}

.alt {
	font-size: 25px;
	text-align: center;
	font-weight: 600;
}

.alt2 {
	font-size: 20px;
	text-align: center;
}

.alt3 {
	font-size: 14px;
	text-align: center;
}

.linha {
	border: 1px solid rgb(240 170 220); !important;
}

.linha2 {
	border: 1px solid rgb(240 170 220);
}